<html>
<body>
  <div
  style="
    padding: 30px 0;
    text-align: center;
    font-family: Arial;
    color: #7aa6f8;
    border-bottom: 1px solid #000;
  "
>
  <h1>OORIGACHI</h1>
</div>
  <div
    style="margin: 0 auto;  padding: 30px 0; text-align: center; font-family: Arial"
>
    <h3><%= nickname %></h3>
    <p style='color:black'>회원 가입을 위한 인증번호 입니다.</p>
    <p style='color:black'>아래의 인증 번호를 입력하여 인증을 완료해주세요.</p>
    <h2 style="color:#042664"><%= authCode %></h2>
  </div>
  
  <div
    style="
      padding: 30px 0;
      text-align: center;
      font-family: Arial;
      border-top: 1px solid #000;
      color: #080808;
      line-height: 1.8;
    "
  >
    <div>실시간 여행 플랜 웹 서비스,
      <span>OORIGACHI</span>
    </div>
    <a href="http://origachi.s3-website.ap-northeast-2.amazonaws.com/">OORIGACHI 가기</a>
    <br></br>
    <div>이 메일은 수신 전용 메일입니다.</div>
  </div>
  
</body>
</html>